@font-face {
    font-family: 'Orbitron';
    src: url('fonts/subset-Orbitron-Regular.woff2') format('woff2'),
        url('fonts/subset-Orbitron-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amatic SC';
    src: url('fonts/subset-AmaticSC-Bold.woff2') format('woff2'),
        url('fonts/subset-AmaticSC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Amatic SC';
    src: url('fonts/subset-AmaticSC-Regular.woff2') format('woff2'),
        url('fonts/subset-AmaticSC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html.reset h1 {
    margin: 0 !important;
    overflow: hidden !important;
}

body {
    background-color: black;
    height: 100vh !important;
}

h1 {
    font-family: 'Amatic SC';
    font-weight: bold;
    font-size: 150px;
    text-align: center;
    color: white;
}

.wrapper {
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative !important;
    top: 45% !important;
    transform: translateY(-50%) !important;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 40px;
}

.container-text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: 'Amatic SC';
    font-size: 40px;
    font-weight: 800;
    color: white;
    gap: 30px;
}

.box {
    width: 200px;
    height: 200px;
    border: 3px solid white;
    background: white;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron';
    font-style: normal;
    font-size: 80px;
    margin-bottom: 40px;
}

.subtext {
    font-family: 'Amatic SC';
    font-size: 40px;
    font-weight: 800;
    color: white;
}
